* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(29, 33, 40, 1);
  background-image: url("./assets/background.svg");
  background-repeat: no-repeat;
}

.inputButtonContainer {
  display: flex;

  margin-top: 1rem;
}

.RepositoriesH1Text {
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-self: center;
}

.ContentWrapper {
  margin-left: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 2rem;
}

.MainWrapper {
  height: 100vh;
}
